<html>
    <header>
    </header>
    <body>
        <div th:fragment="header">
            <div class="nav">
                <ul class="menu-nav">
                    <li class="menu-nav-logo"><div class="center-text">JIN</div></li>
                    <li class="menu-nav-item"><div class="center-text">Contact</div</li>
                    <li class="menu-nav-item"><div class="center-text">Catalogue</div</li>
                    <li class="menu-nav-item"><div class="center-text">About</div</li>
                    <li class="menu-nav-item"><div class="center-text">Home</div></li>
                </ul>
            </div>
            <div class="background">
                <div class="blur-panel"></div>
                <div class="sologan">
                    <h2>Welcome</h2>
                    <h1>I 'M A Programmer.|</h1>
                    <p>I love coding and i desire to be a good software engineer.</p>
                </div>
            </div>
        </div>
    </body>
</html>