<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Jin</title>
    <link rel="shortcut icon" href="/images/logo.ico">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/reading_page.css">
    <link rel="stylesheet" href="/css/reading_page_body.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div th:insert="/layout/header.html :: header_for_post"></div>
<style>
    .background {
        background-image: url("/images/svg/9.svg")
    }
</style>
<div class="background">
    <div class="blur-panel"></div>
    <div class="sologan">
        <h1 th:text="${post.title}"></h1>
        <h4 th:text="'written by ' + ${post.author.nickname} + ',' +${post.createdAt}+'. |'"></h4>
    </div>
</div>
<div class="article" th:utext="${post.content}"></div>
<style>
    a {text-decoration: none}
</style>
<div class="footer">
    <hr/>
    <header>Stop Saying I Wish, Start Saying I Will</header>
</div>
<script src="/js/nav.js"></script>
</body>
</html>