<html>
<head>
    <link rel="shortcut icon" href="/images/logo.ico">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/reading_page.css">
    <link rel="stylesheet" href="/css/reading_page_body.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div class="nav">
    <ul class="menu-nav">
        <li class="menu-nav-logo">
            <div class="center-text">JIN</div>
        </li>
        <li class="menu-nav-item">
            <div class="center-text">About</div>
        </li>
        <li class="menu-nav-item">
            <div class="center-text">Catalogue</div>
        </li>
        <li class="menu-nav-item">
            <div class="center-text"><a href="/home">Home</a></div>
        </li>
    </ul>
</div>
<style>
        .background {
            background-image: url("/images/svg/9.svg")
        }
</style>
<div class="background">
    <div class="blur-panel"></div>
    <div class="sologan">
        <h1>Giới thiệu về Javascript dành cho Beginner</h1>
        <h4>written by Jin.|</h4>
    </div>
</div>
<div class="article">
    I can’t believe this will be the last month of my internship at LibreHealth! 😢

    Just when it was starting to all come together. But I still have a few more weeks to finish my projects, and I’m
    thankful for the time to work on them.

    For those of you just joining me on my journey, I am an Outreachy Intern at LibreHealth for this summer. I was
    accepted on April 23 this year to begin my internship on May 23, lasting until August 14. You can read more about
    how it started here.

    Since my last article, I have learned so much. The two documents that I’ve been working on, the LibreHealth EHR
    Provider Orders and the LibreHealth EHR Encounters, were approved by my mentors and are now on the LibreHealth wiki.
</div>
<div class="footer">
    <hr/>
    <header>Stop Saying I Wish, Start Saying I Will</header>
    <header>@Lai_Trung_Kien</header>
</div>
<script src="/js/nav.js"></script>
</body>
</html>